/GIMP/
/Signal/
/QtProject.conf
/Unknown Organization/
/aurutils/
/dconf/
/discord/
/flameshot/
/gtk-2.0/
/gh/
/karboncalligraphyrc
/keepassxc/
/knightsrc
/kritadisplayrc
/kritarc
/kubrickrc
/libreoffice/
/nordvpn/
/pavucontrol.ini
/pulse/
/spotify/
/xournalpp/
/zoomus.conf
